.page {
  background-image: url("/img.jpeg"); /* Путь из папки public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Или нужная вам высота */
}
